/* --------------mobile view-----------------  */
@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        height: auto;
        padding-top: 103px;
        margin-bottom: 78px;
    }

    .nav-heading {
        margin-bottom: 62px;
    }

    .nav-info {
        flex-direction: column;
    }

    /* banner responsive start from here  */
    .banner-full {
        position: relative;
        margin-bottom: 80px;
    }

    .banner-section {
        flex-direction: column-reverse;
        padding: 0;
        gap: 24px;
        position: relative;
        background-position: bottom;
        background-size: 100%;
        margin: 0 20px;
    }

    .banner-image>img {
        width: 100%;
    }

    /* <!-- Online Games Funny Videos section start  --> */
    .online-games {
        width: 375px;
    }

    .card-section {
        grid-template-columns: repeat(1, 1fr);
        margin: 48px 30px;
    }

    /* <!-- Play Instantly section start --> */
    .play-instantly {
        flex-direction: column;
        margin-bottom: 130px;
    }

    .fixed-image {
        width: 80%;
        padding-left: 10%;
    }

    .move-image {
        position: absolute;
        width: 30%;
        left: 3%;
    }

    /* <!-- more games section start  --> */
    .bg-more-games {
        height: fit-content;
        padding: 50px 0;
    }
}

/* -----------------------tab view-------------------- */
@media only screen and (min-width: 576px) and (max-width: 992px) {

    .nav-container {
        flex-direction: column;
        height: auto;
        padding-top: 103px;
        padding: 78px;
    }

    .nav-heading {
        margin-bottom: 62px;
    }

    .nav-info {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* banner responsive start from here  */
    .banner-full {
        position: relative;
        margin-bottom: 100px;
    }

    .banner-section {
        flex-direction: column;
        padding: 0;
        gap: 24px;
        position: relative;
        background-position: top;
        background-size: 100%;
        margin: 0 50px;
    }

    .banner-image>img {
        width: 100%;
    }

    /* <!-- Play Instantly section start --> */
    .play-instantly {
        flex-direction: column;
        margin-bottom: 130px;
    }

    .fixed-image {
        width: 80%;
        padding-left: 10%;
    }

    .move-image {
        position: absolute;
        width: 30%;
        left: 3%;
    }

    /* <!-- Online Games Funny Videos section start  --> */
    .card-section {
        grid-template-columns: repeat(2, 1fr);
        margin: 48px 30px;
    }

    /* <!-- more games section start  --> */
    .bg-more-games {
        height: fit-content;
        padding: 50px 0;
    }
}