/* common style for all  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* body style   */
body {
    max-width: 1920px;
    margin: 0 auto;
}

/* custom style  */
:root {
    --text-primary: #534C64;
}

/* nav style start from here  */
.nav-container {
    height: 130px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}

.nav-heading {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-title-G-color {
    color: #FF42A5;
}

.nav-info {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-info li {
    list-style: none;
}

.nav-info li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;

}

#follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    font-size: 1.5rem;
}

.fa-youtube {
    color: red;
    margin-left: 24px;
    margin-right: 18px;
}

/* nav style end here  */

/* banner style start from here */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
    background-image: url('../images/Group 14.png');
    background-repeat: no-repeat;
    margin-bottom: 120px
}

.title-banner {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.text-purple-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 10px;
}

.description {
    color: var(--text-primary);
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 17px;
}

.fa-circle-play,
.fa-download {
    margin-right: 20px;
    color: red;
    font-size: 1.5rem;
}

.fa-user-group {
    margin-right: 14px;
    font-size: 1.5rem;
    margin-top: 20px;
}

.button-sign-go {
    margin-top: 41px;
    display: flex;
    gap: 24px;
}

.button-sign-go a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FF42A5;
    padding: 20px 40px;
    border-radius: 48px;
    text-transform: uppercase;
}

#bg-sky-button {
    background-color: #4EC5F7;
}

.banner-image img {
    padding-top: 19px;
    width: 100%;
}

/* <!-- Online Games Funny Videos section start  --> */
.online-games {
    text-align: center;
    max-width: 1440px;
    margin: 48px auto 120px;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card p {
    margin-top: 24px;
}

/* <!-- Play Instantly section start --> */
.play-instantly {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto 140px;
}

.Play-text {
    width: 376px;
}

.Play-text h3 {
    margin-bottom: 24px;
    font-weight: 700;
}

.play-font {
    font-size: 3rem;
}

.play-image {
    position: relative;
}

.move-image {
    position: absolute;
    right: 470px;
    bottom: -70px;
}

/* <!-- more games section start  --> */
.bg-more-games {
    height: 427px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
    padding: 0 210px;
}

.more-game div a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 50px;
    background: #FFF;
    padding: 20px 24px;
}

.more-game div:hover a {
    border: 1.5px solid #FF42A5;
}

.more-game div:hover h4 {
    color: #FF42A5;
}

.games img {
    width: 60px;
    height: 60px;
}

.games h4 {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

/* <!-- footer start from here  --> */
.footer-container {
    background: #0B0223;
    height: 636px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 68px;
}

.footer-heading h2 {
    color: white;
}

.our-info a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.our-icon,
.our-info,
.our-terms-condition {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.our-icon a>.fa-brands {
    color: #FFF;
    font-size: 40px;
    margin: 66px 0;
}

.our-terms-condition a,
.footer-container>p {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.footer-container>p {
    text-align: center;
    margin-top: 28px;
}

/* header,
.footer-container,
.play-instantly,
.bg-more-games {
    display: none;
} */